@import '../../style/cdjStyleVars.scss';

.cdjScroll {
    background-color: #ddd;
}

.cdjScroll {
    height: 100%;
    width: 40px;
    z-index: 1;

    position: absolute;
}

.cdjHandle {
    width: 100%;
    height: 100px;
    cursor: pointer;

    position: absolute;
}

.cdjHandle {
    background-color: #888;
}